{% extends "layout.html" %}
{% block body %}

<link href="/static/css/ListTabMenu.css" rel="stylesheet">
<link href="{{ url_for('naodong_word.static', filename='css/reciteWord.css') }}" rel="stylesheet">
<link href="/static/css/loader.css" rel="stylesheet" media="screen" type="text/css"/>
<script src="//cdn.bootcss.com/sql.js/0.3.2/js/sql.js"></script>
<script src="/static/js/loader.js"></script>
{% if cloudjs %}
<script type="text/javascript" src="http://7xt8es.com1.z0.glb.clouddn.com/zhimind/js/reciteWord.js?{{ cloudjs }}"></script> 
{% else %}
<script src="{{ url_for('naodong_word.static', filename='js/reciteWord.js') }}"></script>
{% endif %}


<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#recite" data-toggle="tab">背单词</a>
    </li>
    <li><a href="#books" data-toggle="tab">词库</a></li>
    <li><a href="#myBooks" data-toggle="tab">我的词库</a></li>
    <li><a href="#setting" data-toggle="tab">背单词设置</a></li>
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="recite">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="col-md-10 col-md-offset-1" id="start">
                            <div class="col-xs-6 col-md-3">
                                <a href="#" onclick="start()" href="javascript:void(0)" class="thumbnail storedBook">
                                    <img alt="" style="height: 180px; width: 100%">
                                    <p id="currentBook"></p>
                                    <p id="currentBookNum"></p>
                                    <p id="currentBookView"></p>
                                    <p id="currentBookFinish"></p>
                                </a>
                            </div>
                            <a href="#" onclick="start()" class="btn btn-info">
                                开始学习 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="recall">
        <main style="margin:0px auto; text-align:center;">
            <div style="display:inline-block;">
                <h1 class="word"></h1>
                <div class="word_quiz" ></div>
            </div>
            <div class="learning-speaker">
                <p class="phonetic"></p>
                <span>UK<a href="#" class="fa fa-volume-up fa-2x audio uk">
                    <audio class="media"></audio>
                </a></span>
                <span>US<a href="#" class="fa fa-volume-up fa-2x audio us">
                    <audio class="media"></audio>
                </a>按向上键或h发美音</span>
            </div>
            <br>
            <div style="text-align:center;">
                <div style="overflow:hidden; display:inline-block;">
                    <div style="float:left;">
                        <a class="btn btn-info" type="button" id="fuzzy">模糊(左或j)</a>
                    </div>
                    <div style="float:left;">
                        <a class="btn btn-danger" type="button" id="sorry">不知道(下或k)</a>
                    </div>
                    <div style="float:left;">
                        <a class="btn btn-success" type="button" id="ok">知道(右或l)</a>
                    </div>
                </div>
            </div>
        </main>
        <div class="loader">

            <div class="progress-bar">
                <div class="progress-stripes"></div>
                <div class="percentage" style="right:5px"></div>
            </div>
            <div class="total" style="right:5px"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="remember">
        <main style="margin:0px auto; text-align:center;">
            <div style="display:inline-block;">
                <h1 class="word" style="float: left"></h1>
                <a class="fa fa-trash fa-2x" id="trivial"
                   style="margin: 10px 0;line-height: 40px;"></a>
            </div>
            <div class="learning-speaker">
                <p class="phonetic"></p>
                <span>UK<a href="#" class="fa fa-volume-up fa-2x audio uk">
                    <audio class="media"></audio>
                </a></span>
                <span>US<a href="#" class="fa fa-volume-up fa-2x audio us">
                    <audio class="media"></audio>
                </a>按向下键发美音</span>
            </div>
            <br>
            <div style="text-align:center;">
                <div style="overflow:hidden; display:inline-block;">
                    <h4 style="float:left;" id="zh">中文</h4>
                    <h4 style="float:left;" id="en">英文</h4>
                </div>
            </div>
            <div style="text-align:center;">
                <div style="overflow:hidden; display:inline-block;" id="next_right">
                    <div style="float:left;">
                        <a class="btn btn-info" type="button" id="right">记对了(左或j)</a>
                    </div>
                    <div style="float:left;">
                        <a class="btn btn-danger" type="button" id="wrong">错误(下或k)</a>
                    </div>
                    <div style="float:left;">
                        <a class="btn btn-success" type="button" id="master">完全掌握(右或l)</a>
                    </div>
                </div>
                <div style="display:none" id="next_wrong">
                    <a class="btn btn-info" type="button" id="next">下一个(下或k)</a>
                </div>
            </div>
            <hr>

            <input id="tab1" type="radio" name="tabs" checked="">
            <label for="tab1">联想记忆</label>

            <input id="tab2" type="radio" name="tabs">
            <label for="tab2">词根词缀</label>

            <input id="tab3" type="radio" name="tabs">
            <label for="tab3">例句</label>

            <section id="content1" class="container">
                <div id="lenovo">
                </div>
                <div>
                    <button type="button" class="btn btn-primary" onclick="createNote()">
                        自创记忆法
                    </button>
                    <br>
                    <div id="note" class="form-group" style="display: none">
                        <div class="col-xs-4 col-sm-4 col-xs-offset-4 col-sm-offset-4">
                        <textarea class="form-control" rows="4" 
                            placeholder="括号内文字会显示红色,例
(红色)
（也是红色）
<r>还是红色</r>
<g>绿色</g>
<b>蓝色</b>"></textarea>
                        <button class="btn btn-success" id="addNote" onclick="addLenovo(this)">
                            更新
                        </button>
                        </div>
                    </div>
                </div>
            </section>

            <section id="content2" class="container">
                <div id="etyma">
                </div>
            </section>

            <section id="content3" class="container">
                <div style="overflow:hidden; display:inline-block;">
                    <a id="youdao" style="float:left;">
                        有道查询
                    </a>
                </div>
                <div id="example">
                </div>
            </section>
        </main>
        <div class="loader">

            <div class="progress-bar">
                <div class="progress-stripes"></div>
                <div class="percentage" style="right:5px"></div>
            </div>
            <div class="total" style="right:5px"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="books">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="col-md-10 col-md-offset-1" id="books2">
                            {% for book in books %}
                            <div class="col-xs-6 col-md-3">
                                <a onclick="downloadbook(this, '{{ book.link }}')" id="{{ book.name }}" href="javascript:void(0)" class="thumbnail storedBook">
                                    <img alt="{{ book.name }}" style="height: 180px; width: 100%">
                                    <p>{{ book.name }}</p>
                                    <p>总单词数: {{ book.num.split('(')[0] }}</p>
                                    {% if book.num.split("(")|length == 2 %}
                                    {% set up_time = book.num.split('(')[1] %}
                                    <p>{{ up_time[:-1] }} </p>
                                    {% endif %}
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="myBooks">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="col-md-10 col-md-offset-1" id="myBooks2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="setting">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="col-md-6 col-md-offset-1 form-group">
                            <p>一组单词个数(默认20个):</p>
                            <input type="text" class="form-control" id="unitNum"/>
                        </div>
                        <div class="col-md-6 col-md-offset-1 form-group">
                            <p>学习模式:</p>
                            <select id="unitMode" class="form-control">
                                <option value="en-zh">看英文想中文</option>
                                <option value="zh-en">看中文、例句填词</option>
                                <option value="mix">混合</option>
                            </select>
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <a type="button" class="unitNum btn btn-info">更新</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

