{% extends "layout.html" %}
{% block body %}
{% from "major_filter.html" import render_major %}
<script src="//cdn.bootcss.com/paginationjs/2.0.8/pagination.min.js"></script>
<link href="//cdn.bootcss.com/paginationjs/2.0.8/pagination.css" rel="stylesheet">
<link href="/static/css/ListTabMenu.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-sm-3">
                <div class="form-group">
                    <h4>Filter by degree</h4>
                    <select id="degreeName" name="degree" onchange="filterByMajor()" class="form-control">
                        <option value="0">不限</option>
                        <option value="1">本科</option>
                        <option value="2">硕士</option>
                        <option value="3">博士</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <h4>Filter by major</h4>
                    {{ render_major() }}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <h4>Filter by 推荐信</h4>
                    <select id="rlName" name="rl" onchange="filterByMajor()" class="form-control">
                        <option value="0">不限</option>
                        <option value="-1">可免</option>
                        <option value="1">1封</option>
                        <option value="2">2封</option>
                        <option value="3">3封</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <h4><br></h4>
                    <a href="/majorForm/new" target="_blank" class="btn btn-primary">添加</a>
                </div>
            </div>
            <table class="table table-striped">
<thead>
<tr>
<th><a href="javascript:void(0)" onclick="sortCollege('major', 'name', false)">校名</a></th>
<th>学位</th>
<th>专业</th>
<th><a href="javascript:void(0)" onclick="sortCollege('major', 'gpa', false)">GPA</a></th>
<th><a href="javascript:void(0)" onclick="sortCollege('major', 'tuition', false)">学费</a></th>
<th><a href="javascript:void(0)" onclick="sortCollege('major', 'deadline', false)">截止日期</a></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody id="collegeList">
</tbody>
</table>
        <div id="pagination-container"></div>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/mathjax/2.6.1/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
{% if cloudjs %}
<script type="text/javascript" src="//7xt8es.com1.z0.glb.clouddn.com/zhimind/js/college.js?{{ cloudjs }}"></script> 
{% else %}
<script type="text/javascript" src="/static/js/college.js"></script>
{% endif %}
<script>
getDataList('major', {{ temp }});
</script>

{% endblock %}

