{% extends "layout.html" %}
{% block body %}
        <meta name="viewport" content="user-scalable=no, width=device-width" />
        <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="//cdn.bootcss.com/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" rel="stylesheet">
        <script src="//cdn.bootcss.com/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>

        <script type="text/javascript" src="/static/js/android.js"></script>

        <div id="mainMap">
        </div>

        <script type="text/javascript">
            $(document).ready(androidLoadMap());
        </script>
{% endblock %}
