<!doctype html>
<html class="no-js"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

        <title>知维图 -- 互联网学习实验室</title>

        <style>
            body { padding-top: 50px; padding-bottom: 10px; }
        </style>

        <script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

        <link href="//cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="//cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet">
        <script src="//cdn.bootcss.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-74494551-2', 'auto');
            ga('send', 'pageview');

        </script>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    </head>
    <body ng-app="mindMapApp">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse"
                        data-target=".nav-collapse">
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/">知维图</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li id="">
                                <a href="{{ url_for('index') }}">主页</a>
                            </li>
                            {% if g %}
                            {% if g.user.is_authenticated %}
                            <li>
                                <a href="{{ url_for('logout') }}">退出登录</a>
                            </li>
                            {% endif %}
                            {% if not g.user.is_authenticated %}
                            <li>
                                <a href="{{ url_for('login') }}">登录</a>
                            </li>
                            <li>
                                <a href="{{ url_for('register') }}">注册</a>
                            </li>
                            {% endif %}
                            {% endif %}
                            <li>
                                <a href="{{ url_for('recommendlist') }}">推荐</a>
                            </li>
                            <li>
                                <a
                                    href="/intro.html">导图示例</a>
                            </li>
                            <li>
                                <a
                                    href="/reciteWord.html">脑洞记单词</a>
                            </li>
                            <li>
                                <a
                                    href="http://sndnyang.github.io/tags.html#zhimind-ref">开发者博客</a>
                            </li>
                            <li>
                                <form class="navbar-search" action="/search" onsubmit="return validateForm(this.elements['q'].value);"> <input type="text" class="search-query" placeholder="Search暂时无用" name="q" id="search_input">
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
        <div class="alert">
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        <script>
            setTimeout("$('.alert').fadeOut('slow')", 5000);
        </script>
            {% endif %}
        {% endwith %}

        {% block body %}
        {% endblock %}

        <hr>
        <div class="row-fluid">
            <footer id="footer" style="text-align:center">
                <!-- <p>&copy; Shekhar Gulati 2013 (注册这几个页面用了他的)</p>-->

                <p>本人 <a href="http://sndnyang.github.io" target="_blank">sndnyang</a>.  <a href="http://weibo.com/u/2405149384" target="_blank">微博</a>. 
                邮箱 <a href="mailto:sndnyangd@gmail.com">sndnyangd@gmail.com</a>.</p>
                <p class="platformintro">交互式智能学习+思维导图 实验（待完善）</p>
                <p class="platformintro">基于openshift 免费Paas平台, 使用 Flask, PostgreSQL+Redis,
                Twitter Bootstrap, D3.js等开发</p>
            </footer>
        </div>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1258734700'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1258734700' type='text/javascript'%3E%3C/script%3E"));</script>
        <script type="text/javascript">
             var pgurl = window.location.href.substr(window.location.href.lastIndexOf("/"));

             $("ul li a").each(function(){
                  if ($(this).attr("href") == pgurl || ($(this).attr("href") == '/index.html' && pgurl == "/") )
                        $(this).parent().addClass("active");
             })
        </script>
    </body>
</html>
