{% extends "layout.html" %}
{% block body %}

    <link href="/static/css/ListTabMenu.css" rel="stylesheet">
<main>
  <input id="tab1" type="radio" name="tabs">
  <label for="tab1">思维导图</label>

  <input id="tab2" type="radio" name="tabs" checked="">
  <label for="tab2">教程</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">练习</label>

  <section id="content1">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-xs-8 col-md-offset-2">
                    <div id="maps">
                        <ul class="list-group">
                        {% for map in maps %}
                        <li class="list-group-item clearfix">
                            <div>
                        {% include 'map_link.html' %}
                            </div>
                        </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="content2">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-xs-8 col-md-offset-2">

                    <div id="tutorials">

                        <ul class="list-group">
                            {% for tutorial in tutorials %}
                            {% if tutorial.type == "tutorial" %}
                            <li class="list-group-item clearfix">
                                <div>
                                    {% include 'tutorial_link.html' %}
                                </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="content3">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-xs-8 col-md-offset-2">
                    <div id="practices">
                        <ul class="list-group">
                            {% for tutorial in tutorials %}
                            {% if tutorial.type == "practice" %}
                            <li class="list-group-item clearfix">
                                <div>
                                    {% include 'tutorial_link.html' %}
                                </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

{% endblock %}

