{% extends "login_base.html" %}
{% block main %}

{% from "_formhelpers.html" import render_field %}

<div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
            
        </div>
        <div class="form-bottom">
<form role="form" action="" method="post" class="login-form form-horizontal">
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
    <div class="form-group">

        <label for="form-verification_code">验证码
        <a href="#"><img onclick="this.setAttribute('src','/verifycode?random='+Math.random())" src="/verifycode" title="点击重新获取" /></a></label>
        <input id="verification_code" name="verification_code" type="text" value="">
        {% if form.verification_code.errors %}
        <ul class=errors>
            {% for error in form.verification_code.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    </div> 
    {{ render_field(form.submit) }}
</form>
</div>
    </div>
</div>

{% endblock %}
