{% extends "layout.html" %}
{% block body %}
        <div class="header">
            <h1>{{name}}教程<h1>
        </div>

        <button onclick="reset()">重置</button>
        <div class="main">
            <div class="tutorial" id="tutorial">

            </div>
            <br>

        </div>

        <div class="hint">
            <ul class="flashes">
            </ul>
        </div>
        <div id="MathAnswer" hidden></div>
        <link rel="stylesheet" href="/static/css/reset.css">

        <link rel="stylesheet" href="/static/css/trystyle.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/tutorial.css">

        <script src="//cdn.bootcss.com/markdown-it/6.0.0/markdown-it.min.js"></script>
        <script type="text/javascript" src="/static/js/markdown-it-mathjax.js"> </script>

        <script src="//cdn.bootcss.com/mathjax/2.6.1/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
        <script type="text/javascript" src="/static/js/jQuery.md5.js"> </script>
        <script type="text/javascript" src="/static/js/globalFuncs.js"> </script>
        <script type="text/javascript" src="/static/js/tutorialLesson.js"> </script>
        <script type="text/javascript" src="/static/js/tutorial.js"> </script>
        <script type="text/javascript">
            $(document).ready(loadTutorial("{{link}}"));
        </script>

{% endblock %}
