{% extends "layout.html" %}
{% block body %}
<script src="https://cdn.bootcss.com/paginationjs/2.0.8/pagination.min.js"></script>
<link href="https://cdn.bootcss.com/paginationjs/2.0.8/pagination.css" rel="stylesheet">
<link href="/static/css/ListTabMenu.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-sm-3">
                <div class="form-group">
                    <h4>Filter by nation</h4>
                    <select id="degreeName" name="degree" onchange="filterBy(this.options[this.options.selectedIndex].value, true, '国家')" class="form-control">
                        <option value="">不限</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <h4>Sort by 排名</h4>
                    <select id="sortName" onchange="sortCollege('college', this.options[this.options.selectedIndex].value, true)" class="form-control">
                    </select>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <h4><br></h4>
                    <a href="/collegeForm/new" target="_blank" class="btn btn-primary">添加</a>
                </div>
            </div>
            <table class="table table-striped">
<thead>
<tr>
<th>校名</th>
<th>国家</th>
<th id="rankName">QS排名</th>
<th></th>
<th></th>
</tr>
</thead>
<tbody id="collegeList">
</tbody>
</table>
        <div id="pagination-container"></div>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/mathjax/2.6.1/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
{% if cloudjs %}
<script type="text/javascript" src="http://7xt8es.com1.z0.glb.clouddn.com/zhimind/js/college.js?{{ cloudjs }}"></script> 
{% else %}
<script type="text/javascript" src="/static/js/college.js"></script>
{% endif %}
<script>
getDataList('college', {{ temp }});
    
var url = 'http://7xt8es.com1.z0.glb.clouddn.com/zcollege/college.txt';
var xhr = new XMLHttpRequest();
xhr.open('GET', url); 
xhr.onload = function(e) {
    var data = eval('(' + this.response + ')'); 
    console.log(data.sort); 
    var t = '<option value="{0}">{1}</option>';
    for (var i in data.nation) {
        var nation = data.nation[i]
        $("#degreeName").append($(t.format(nation, nation))); 
    }
    for (var i in data['sort']) {
        var rank = data['sort'][i]
        $("#sortName").append($(t.format(rank, rank))); 
    }
}
xhr.send();
</script>

{% endblock %}

