{% extends "layout.html" %}
{% block body %}
<script src="https://cdn.bootcss.com/paginationjs/2.0.8/pagination.min.js"></script>
<link href="https://cdn.bootcss.com/paginationjs/2.0.8/pagination.css" rel="stylesheet">
<link href="/static/css/ListTabMenu.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-sm-3">
                <div class="form-group">
                    <h4>Filter by nation</h4>
                    <select id="degreeName" name="degree" onchange="filterBy(this.options[this.options.selectedIndex].value, true, '国家')" class="form-control">
                        <option value="">不限</option>
                        <option value="美国">美国</option>
                        <option value="英国">英国</option>
                        <option value="中国">中国</option>
                        <option value="加拿大">加拿大</option>
                        <option value="澳大利亚">澳大利亚</option>
                    </select>
                </div>
            </div>
         <!--<div class="col-sm-1">
                <div class="form-group">
                    <h4><br></h4>
                    <button onclick="filter()" class="btn btn-primary">FILTER</button>
                </div>
            </div>-->
            <div class="col-sm-1">
                <div class="form-group">
                    <h4><br></h4>
                    <a href="/collegeForm/new" target="_blank" class="btn btn-primary">添加</a>
                </div>
            </div>
            <table class="table table-striped">
<thead>
<tr>
<th>校名</th>
<th>国家</th>
<th>QS排名</th>
<th></th>
<th></th>
</tr>
</thead>
<tbody id="collegeList">
</tbody>
</table>
        <div id="pagination-container"></div>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/mathjax/2.6.1/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
<script type="text/javascript" src="/static/js/college.js"></script>
<script>
getDataList('college', {{ temp }});
</script>

{% endblock %}

