{% extends "layout.html" %}
{% block body %}
{% from "major.html" import render_major %}
<link href="/static/css/ListTabMenu.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-sm-4">
                <div class="form-group">
                    <h4>Filter by major</h4>
                    {{ render_major() }}
                </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <h4><br></h4>
                        <button class="btn btn-primary">FILTER</button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <h4><br></h4>
                        <a href="/collegeForm/new" target="_blank" class="btn btn-primary">添加</a>
                    </div>
                </div>
            <table class="table table-striped">
<thead>
<tr>
<th>校名</th>
<th>学位</th>
<th>专业</th>
<th><a href="javascript:void(0)">GPA</a></th>
<th><a href="javascript:void(0)">学费</a></th>
<th><a href="javascript:void(0)">截止日期</a></th>
<th></th>
</tr>
</thead>
<tbody id="collegeList">
</tbody>
</table>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/mathjax/2.6.1/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
<script type="text/javascript" src="/static/js/college.js"></script>
<script>
getCollegeList({{ temp }});
</script>

{% endblock %}

