{% extends "layout.html" %}
{% block body %}
  <table>
    <tr valign="top">
        <!-- <td><img src=" "></td> -->
        <td>
            <h1>用户昵称: {{user.username}}</h1>
        </td>
    </tr>
</table>
    <a href="/newmap">创建新思维导图</a>
   |  
    <a href="javascript:void(0)" onclick="linkTutorial()">创建新教程</a>
   |  
    <a href="javascript:void(0)" onclick="linkPractice()">创建新练习</a>
<hr>

<div id="maps">
    <p>思维导图列表</p>
{% for map in maps %}
    <table>
        <tr valign="top">
            <td>
                <i>
                {% if isSelf %}
                    您 
                {% else %}
                    <a href="/user/{{ user.username }}">
                        {{ user.username }}
                    </a>
                {% endif %}
                    发布了:
                </i>
            </td>
            {% include 'map_link.html' %}
        </tr>
    </table>
{% endfor %}
</div>

<div id="tutorials">
    <p>教程列表</p>
{% for tutorial in tutorials %}
{% if tutorial.type == "tutorial" %}
    <table>
        <tr valign="top">
            <td>
                <i>
                {% if isSelf %}
                    您 
                {% else %}
                    <a href="/user/{{ user.username }}">
                        {{ user.username }}
                    </a>
                {% endif %}
                    发布了:
                </i>
            </td>
            {% include 'tutorial_link.html' %}
            {% if isSelf %}
                {% include 'edit_link.html' %}
            {% endif %}
        </tr>
    </table>
{% endif %}
{% endfor %}
</div>

<div id="practices">
    <p>编程练习列表</p>
{% for tutorial in tutorials %}
{% if tutorial.type == "practice" %}
    <table>
        <tr valign="top">
            <td>
                <i>
                {% if isSelf %}
                    您 
                {% else %}
                    <a href="/user/{{ user.username }}">
                        {{ user.username }}
                    </a>
                {% endif %}
                    发布了:
                </i>
            </td>
            {% include 'tutorial_link.html' %}
            {% if isSelf %}
                {% include 'edit_link.html' %}
            {% endif %}
        </tr>
    </table>
{% endif %}
{% endfor %}
</div>

<script type="text/javascript" src="/static/js/tutorial.js"> </script>
{% endblock %}

